<phpunit
        bootstrap="phpunit-bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Custom Plugin">
            <directory prefix="test-" suffix=".php">custom-content/plugins/custom-plugin/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>